html {
    box-sizing: border-box;
    font-size: 100%;
}

* {
    font-family: "Monserrat", sans-serif;
    background-color:var(--bg-color-dark);
    color: var(--font-color-dark);
}

*, *::before, *::after {
    box-sizing: inherit;
    
}

body {
    margin: 0px;
    padding: 0px;
   
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}