.btn {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 35px;
    margin: 20px 0px;
    animation: hover;
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: white;
        color: blue;
        cursor: pointer;
    }
}