.toTheTop {
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 25px;
  
    /* bouton est placé en bas à droite de la page */
    position: fixed;
    bottom: 20px;
    right: 20px;

    /* bouton placé au dessus du reste de la page */
    z-index: 100;

    /* bouton caché avec l'opacité */
    opacity: 0;

    /* ajout d'un effet de translation verticale... */
    transform: translateY(100px);

    /* ... ainsi que d'un effet de transition */
    transition: all 0.5s ease;

    i {
      background: blue;
    }
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }