.categorie {
    margin: 10px;
    border: 2px solid blue;
  
    &__container {
      margin: 10px;
      border: 2px solid green;
      background-color: var(--bg-color);
  
      &--wrapper {
        border: 2px dashed purple;
        display: flex;
        flex-direction: column;
  
        h1 {
          border: 2px solid red;
          text-align: center;
          padding: 20px 0px;
          // margin-bottom: 20px;
        }

        .card {
            border: 2px dashed yellow;
            // display: flex;
            // justify-content: space-around;
            // margin-top: 20px;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            gap: 50px 120px;
            padding: 45px;
    
            &__cell {
              border: 2px solid orangered;
              border-radius: 5px;

              &--img {

                img {
                  width: 100%;
                  height: 270px;
                  border-radius: 5px;
                }
                  

                    // img {
                    //   background-color: #cccccc;
                      
                    //   background-position: center;
                    //   background-repeat: no-repeat;
                    //   background-size: cover;
                    //   position: relative; 
                    // }
              }
    
              &--description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              }
    
              .description--category, .description--tags {
                margin-top: 5px;
                font-size: 13px;
                padding-left: 10px;
              }

              .description--date {
                font-size: 10px;
                font-style: italic;
              }
    
              .ellipsis {
                white-space: nowrap; 
                width: 185px; 
                overflow: hidden;
                text-overflow: ellipsis;
                border: 1px dashed black;
              }
            }
        }

        .page {
            display: flex;
            justify-content: center;

            &__wrapper {
                border: 2px solid red;
                margin: 20px 0px;
                padding: 10px;

                &--number {
                    color: grey;
                }

                .active {
                    font-weight: bolder;
                    color: blue;
                }
            }
        }
      }
    }
}