.categorie {
    
    &__container {
      margin: 25px;
  
      &--wrapper {
    
        display: flex;
        flex-direction: column;
  
        h1 {
          background: var(--container-color-dark);
          text-align: center;
          padding: 20px 0px;
          
          // margin-bottom: 20px;
        }

        .card {
          background: var(--container-color-dark);
            // display: flex;
            // justify-content: space-around;
            // margin-top: 20px;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            gap: 50px 100px;
            padding: 45px;
    
            &__cell {
              background: var(--container-color-dark);
              border-radius: 5px;

              &--img {
                
                img {
                  width: 100%;
                  height: 270px;
                  border-radius: 5px;
                  background: var(--container-color-dark);
                }
                  

                    // img {
                    //   background-color: #cccccc;
                      
                    //   background-position: center;
                    //   background-repeat: no-repeat;
                    //   background-size: cover;
                    //   position: relative; 
                    // }
              }
    
              &--description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background: var(--container-color-dark);
              }

              
    
              .description--category, .description--tags, .card__cell--tags {
                margin-top: 5px;
                font-size: 13px;
                
              }

              .description--date {
                font-size: 10px;
                font-style: italic;
                background: var(--container-color-dark);
              }
    
              .ellipsis {
                white-space: nowrap; 
                width: 185px; 
                overflow: hidden;
                text-overflow: ellipsis;
                background: var(--container-color-dark);
              }
            }
        }

        .page {
            display: flex;
            background: var(--container-color-dark);

            &__list {
              display: flex;
              justify-content: space-between;
              background: var(--container-color-dark);
              margin-bottom: 50px;

              &--item {
                width: 30px;
                height: 30px;
                margin: 0px 10px;
                border: 1px solid white;
                background: var(--pagination-bg-color-dark);
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.active {
                  border: 1px solid hsl(256, 100%, 50%);
                  border-radius: 4px;

                  a {
                    color: hsl(256, 100%, 50%);
                  }
                  
                }

                .item-link, .item-link i {
                  color: var(--font-color);
                  background: var(--pagination-bg-color-dark);
                }
              }
            }
        }
      }
    }
}