.juridique 
{
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--container-color-dark);

    h1, h3 {
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        background: var(--container-color-dark);
    }

    ul, ol
    {
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--container-color-dark);

        li 
        {
            padding: 20px 0px;
            background: var(--container-color-dark);
            

            h4 {
                color: var(--font-color-dark);
                background: var(--container-color-dark);
                margin-bottom: 20px;
            }

            p {
                font-size: smaller;
                margin: 5px 0px 10px 0px;
                background: var(--container-color-dark);
            }
        }
    }   

    ol li {
        list-style: upper-roman;
    }  
}

