.form__wrapper {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .choice {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid blue;

        .profil-choice {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid red;
        }

        .button-choice {
            display: flex;
            justify-content: space-around;
        }
    }

    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        border: 2px solid green;

        form {
            margin: 50px 0px;
    
            // &.user-form, &.admin-form {
            //     display: none;
    
            //     &.show {
            //         display: block;
            //     }
            // }
    
            fieldset {
                margin: 50px 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
            legend {
                margin: 20px 50px;
            }
        }
    }

    &--label {
        margin-top: 20px;
    }

    .error {
        color: #FF0000;
    }

    &--input {
        margin-bottom: 25px;
        
        input {
            border-radius: 5px;
            height: 30px;
        }
    }

    &--action {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: white;
            animation: hover;
            transition: 0.5s ease-in-out;

            &:hover {
                color: blue;
            }
        }
    }
   
}