.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    background: var(--container-color-dark);
    margin: 22px;
    

    .form-container {
        background: var(--container-color-dark);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 50px 0px;

        .form__title {
            display: flex;
            background: var(--container-color-dark);
            flex-direction: column;
            align-items: center;

            h1, h3 {
                margin: 20px 0px;
                background: var(--container-color-dark);
            }
        }

        .form__login {
            display: flex; 
        }
        
        .form__img {
            width: 50%;
            img {
                height: 355px;
            }
        }

        form {
            background: var(--container-color-dark);
            width: 50%;
    
            .form__title {
                margin-top: 20px;
                text-align: center;
                background: var(--container-color-dark);
                font-weight: 400;
                font-size: 36px;
                line-height: 50px;
            }
    
            fieldset {
                display: flex;
                flex-direction: column;
                border: none;

                h2 {
                    margin: 40px 0px 20px 0px;
                }
            }
        }

        .form__signin {
            width: 100%;
        }
    }

    .form__identity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .form__lastname, .form__firstname {
            width: 46%;
        }
    }

    &--label {
        width: 100%;
    }

    .error {
        color: #FF0000;
    }

    &--input {
        margin: 5px 0px;

    
        
        input, textarea {
            margin: 10px 0px;
            height: 40px;
            width: 100%;
            color: var(--font-color-dark);
            background: hsl(216, 47%, 20%);
            border: none;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                padding-left: 10px;
                color: var(--font-color-dark);
                opacity: 1; /* Firefox */
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                padding-left: 10px;
                color: var(--font-color-dark);
            }
              
            &::-ms-input-placeholder { /* Microsoft Edge */
                padding-left: 10px;
                color: var(--font-color-dark);
            }

            &:focus {
                background: hsl(216, 47%, 20%);
                border: 3px solid rgba(255, 99, 99, 0.5);
            }

            &:focus-visible {
                border: 3px solid rgba(255, 99, 99, 0.5);
            }
        }

        textarea {
            height: 90px;
        }
    }

    a {
        animation: hover;
        transition: 0.5s ease-in-out;
        
        &:hover {
            color: blue;
        }
    }

    

    &--action {
        margin: 20px 22px;
        padding: 70px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: var(--container-color-dark);

        p {
            margin: 0px 50px;
            background: var(--container-color-dark);
        }

        a {
            color: white;
            animation: hover;
            transition: 0.5s ease-in-out;
            background: var(--container-color-dark);
            border: 1px solid var(--font-color-dark);
            padding: 10px 25px;
            border-radius: 6px;


            &:hover {
                color: blue;
            }
        }
    }
   
}