.wrapper {
  width: 100%;
    display: grid;
    grid-template-areas: "headerZone headerZone headerZone headerZone" "menuZone menuZone menuZone menuZone" "mainZone mainZone mainZone mainZone" "mainZone mainZone mainZone mainZone" "footerZone footerZone footerZone footerZone";
  }