header {
    grid-area: headerZone;
    background: rgb(144, 238, 144);
}

.header {
    

    &__title {
        padding: 0px 5px;
        display: flex;
        justify-content: space-between;
        border: 1px solid red;

        &--logo {
            border: 1px dashed blue;
        }

        &--links {
            display: flex;
            align-items: center;
            border: 1px dashed green;

            > li {
                margin: 0px 20px;
            }
        }
    }
}