nav {
    grid-area: menuZone;
    background: lightskyblue;
}

.menu__content {
    &--list {
        margin: 5px 0px;
        display: flex;
        justify-content: center;

        > li {
            padding: 10px 45px;

            &:not(:last-of-type) {
                border-right: 1px solid white;
            }
        }
    }
}